<div class="homepage">
  <div class="main">
    <div class="box left-upper">
      <div class="discription">
        <div class="headline">
          <h1>Welcome to<br>PairingTime <i class="fas fa-coffee" aria-hidden="true"></i></h1>
        </div>
      </div>
    </div>
    <div class="box right-upper">
      <div class="slideshow">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
      </div>
    </div>
    <div class="box left-middle"></div>
    <div class="box right-middle">
      <div class="discription">
        <h2>コーヒーライフにもっと彩を <i class="fas fa-cookie-bite"></i></h2>
        <p>コーヒー好きが、色んなタイプのコーヒーと<br>パートナーとなるコーヒーにピッタリな<br>ケーキやお菓子などとのペアリングを<br>シェアしてもらうためのサイトです。</p>
      </div>
    </div>
    <div class="box left-bottom">
      <div class="discription">
        <h2>作者：Yuzuru Yoshida <i class="fas fa-pencil-alt"></i></h2>
        <p>このウェブサイトで皆さんのコーヒーライフが<br>少しでもより良いモノになったら嬉しいです <i class="fas fa-smile"></i></p>
      </div>
    </div>
    <div class="box right-bottom"></div>
  </div>
</div>