<div class="homepage">
  <div class="headline">
    <h1>Welcome to PairingTime <i class="fas fa-coffee" aria-hidden="true"></i></h1>
  </div>
  <div class="discription">
    <div class="box left-upper"></div>
    <div class="box right-upper"></div>
    <div class="box left-middle"></div>
    <div class="box right-middle"></div>
    <div class="box left-bottom"></div>
    <div class="box right-bottom"></div>
  </div>
</div>