<div class="homepage">
  <div class="headline">
    <h1>Welcome to PairingTime <i class="fas fa-coffee" aria-hidden="true"></i></h1>
  </div>
  <div class="main">
    <div class="box left-upper">
      <div class="discription">
        <h2>コーヒーライフにもっと彩を <i class="fas fa-cookie-bite"></i></h2>
        <p>コーヒー好きが、色んなタイプのコーヒーとパートナーとなるコーヒーに<br>ピッタリなケーキやお菓子などとのペアリングをシェアしてもらうためのサイトです。</p>
      </div>
    </div>
    <div class="box right-upper"></div>
    <div class="box left-middle"></div>
    <div class="box right-middle">
      <div class="discription">
        <h2>コーヒーデビューされたい方、<br>コーヒーデビューをされたばかりの方でも <i class="fas fa-mug-hot"></i></h2>
        <p>まだコーヒーに詳しくない方でも、<br>試してみたいペアリングを見つけてみてください。</p>
      </div>
    </div>
    <div class="box left-bottom">
      <div class="discription">
        <h2>作者：Yuzuru Yoshida <i class="fas fa-pencil-alt"></i></h2>
        <p>このウェブサイトが皆さんのコーヒーライブを<br>ちょっとでもより良いモノにできたら幸せです。</p>
      </div>
    </div>
    <div class="box right-bottom"></div>
  </div>
</div>