/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 
header span {
 font-size: 36px;
 color: #fff;
}

header, nav, h1, h2, h3, h4, th, td, .btn, p {
  font-family: Chalkduster;
}

body {
   background-image: image-url('image6.jpg');
   background-size: cover;
   background-position: center;
}

.col-xs-10 h2 {
  width: 300px;
  border-bottom: double 8px #8B4513;
} 

footer p {
 font-size: 14px;
 color: #fff;
 padding-top: 20px;
}

.body {
 margin: 60px 0;
}

.col-xs-2 h3 {
 padding-top: 90px;
}

.userinfo th {
 font-size: 14px;
}

/* Home */

.headline h1 {
 text-align: center;
 font-size: 38px;
 padding: 20px;
}

.box {
 width: 50%;
 height: 500px;
 float: left;
 padding: 10px;
}

.discription{
 margin: 180px auto;
 text-align: center;
}

.discription h2 {
 font-size: 26px;
 border-bottom: 3px double #8B4513;
 margin-bottom: 30px;
 font-weight: 700;
}

.discription p {
 font-size: 18px;
}

.right-upper {
 background-image: image-url('image7.jpg');
 background-size: cover;
 background-position: center center;
 border: 10px solid #8B4513;
}

.left-middle {
 background-image: image-url('image14.jpg');
 background-size: cover;
 background-position: center center;
 border: 10px solid #8B4513;
}

.right-bottom {
 background-image: image-url('image15.jpg');
 background-size: cover;
 background-position: center center;
 border: 10px solid #8B4513;
}